.secstart {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: red;
  text-align: center;
}
.box h3 {
  color: yellow;
}

section {
  position: relative;
  background: #161623;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

section::before {
  background-image: linear-gradient(rgb(26, 26, 31), rgb(240, 134, 4));
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: grey;
  background-attachment: linear-gradient(#ffc107, #e91e63);
  transform: translate(-400px, 80px);
}
/* section::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  background-image: linear-gradient(rgb(43, 40, 35), rgb(42, 65, 36));
  transform: translate(100px, -200px);
} */
.box {
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  margin-top: 200px;
  position: relative;
  min-width: 350px;
  max-width: 500px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(25px);
}

.box h3 {
  color: yellow;
}

.box .list {
  position: relative;
  display: flex;
  padding: 10px 10px;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.box .list :hover {
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: rgb(255, 95, 3);

  /* -ms-transform: scale(1.1); /* IE 9 */
  /* -webkit-transform: scale(1.1);   */
  /* transform: scale(1.5); */
  /* box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5); */
  /* transform: scale(1.15) translateX(30px) translateY(-15px); */
}

/* .box .list :hover {
  color: #e91e63;
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.15) translateX(30px) translateY(-15px);
  z-index: 1000;
} */
.box .list .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
}
.myReact-icons {
  color: wheat;
  height: 10rem;
}
.box .list .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box .list .content {
  display: flex;
  flex-direction: column;
  justify-self: center;
  color: #fff;
}

.box .list .content .rank {
  position: absolute;
  right: 20px;
  color: #03a9f4;
  transition: 0.5s;
  font-size: 2.5em;
}
.box .list .content .rank small {
  font-weight: 500;
  opacity: 0.25;
}
/* .box .list:hover .content .rank small {
  font-weight: 500;
  opacity: 0.25;
  right: 20px;
} */
.box .list .content h4 {
  line-height: 1.7em;
  font-weight: 600;
  transition: 0.5s;
  color: wheat;
  font-style: italic;
  text-align: center;
  justify-content: center;
  margin-left: 10px;
  justify-items: center;
}

.box .list .content p {
  line-height: 1.75em;

  transition: 0.5s;
}

.box .list .content p {
  line-height: 1.75em;

  transition: 0.5s;
}
.box .list .content p,
.box .list .content h4 {
  color: wheat;
}
